.frontdesk-dashboard {
  background-color: #4c9ccc;
  color: white;
  /* add more styling as needed */
}

.status-button {
  background-color: #84cc2c;
  /* add more styling as needed */
}

.containerWrapper {
  background: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
}

/* frontdesk-dashboard.css */
/* .patientListWrapper {
  margin-top: 54px;
} */

/* backdrop-filter: saturate(200%) blur(1.875rem); */

/* Continue styling other elements as necessary */

/* 
@media only screen and (max-width: 1050px) {
  .drawerWrapper {
    display: none;
  }
} */

@media only screen and (max-width: 1050px) {
  .patientListWrapper {
    /* width: 100% !important; */
    width: calc(100% - 20px) !important;
  }
}
